<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Singledataprovidertest">
    <classes>
      <class name="parametrisationtest.Singledataprovidertest"/>
      
    </classes>
  </test> <!-- Test -->
  <test name="othercoommon">
    <classes>
      
      <class name="parametrisationtest.Multitestsingledataprovidertest"/>
      <class name="parametrisationtest.Multidataproviderresolvedtest"/>
      <class name="parametrisationtest.Multidataprovidertest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
